body {
    font-family: 'Kranky', cursive;
}

.tv {
    font-size: 4rem;
    font-weight: 100;
    margin-left: 15px;
}

.big {
    font-size: 2.5rem;
    margin-right: 20px;
}

.contact-img {
    width: 1000px;
    position: relative;
    top: -180px;
    left: 17%;
}

.pri-img{
  position: relative;
  width: 129px;
  height: 237px;
}

.vansh-img{
  position: relative;
  width: 147px;
  height: 251px;
}


.hima-img{
  position: relative;
width: 108px;
height: 232px;
}


.manya-img{
  position: relative;
width: 116px;
height: 222px;
}


.ping {
    position: relative;
    top: -250px;
    left: 12.5%;
    font-size: 3rem;
    font-family: 'Rancho', cursive;
}
